<div class="col-md-3 mb-4">
  <div class="card"  style="width: 18rem;">
    <div id="<%= dom_id image %>">
      <%= image_tag image.picture.url, size: "300x300" %>

      <p>
        <strong>Name:</strong>
        <%= link_to image.name, image %>
      </p>

      <p>
        <strong>User:</strong>
        <%= image.user_id %>
      </p>
    </div>
  </div>
</div>
